######################
# Build
######################
*/target/**

######################
# Intellij
######################
.idea/**
*/.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig
.DS_Store

######################
# Eclipse
######################
.project
.metadata
/bin/**
/tmp/**
/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings
.loadpath
